.contact {
  width: 100%;
  height: auto;
}
.hero {
  width: 100%;
  height: 350px;
  background-image: url("/images/backgound23.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caption {
  width: 80%;
  height: 85%;
  max-width: 550px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: white;
  text-align: center;
  line-height: 2;
  margin-top: 30px;
}
.copyrights {
  background: rgba(255, 255, 255, 0.1);
  width: fit-content;
  padding: 0 50px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px !important;
}
.copyrights > div {
  margin-left: 12px;
}
.copyrights > div:first-child {
  color: #0a1849;
}
.copyrights i {
  font-size: 9px;
  color: #0a1849;
  display: block;
}
.caption h2 {
  margin: 0;
  font-size: 40px;
}
.caption > div {
  margin: 8px 0;
}
.line {
  width: 65px;
  height: 6px;
  display: block;
  background-color: #0a1849;
}
.content {
  padding: 70px 30px 100px 30px;
}
.content h2 {
  text-align: center;
  margin-bottom: 60px;
}
.grid {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.grid > div {
  flex: 29%;
  margin: 20px;
  height: auto;
}
.grid > div p {
  color: #737373;
  font-style: italic;
  line-height: 1.6;
  font-size: 14.5px;
  text-align: justify;
  font-weight: 300;
  position: relative;
}
.grid > div > div:nth-child(1) {
  position: relative;
  padding: 15px;
  height: fit-content;
}
.quotes {
  position: absolute;
  top: -20px;
  left: 0px;
  font-size: 30px;
  color: #737373;
}
.quoteRight {
  position: absolute;
  bottom: -40px;
  right: 0px;
  font-size: 30px;
  color: #737373;
}
.grid > div > div:nth-child(2) {
  display: flex;
  flex-flow: row wrap;
}
.profile {
  width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin: 15px;
}
.author {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
@media screen and (max-width: 600px) {
  .hero {
    height: 420px;
    background-position: left;
    background-attachment: scroll;
  }
  .grid > div > div:nth-child(1) {
    padding: 15px 10px;
  }
  .grid {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
  }
  .grid > div {
    flex: 100%;
    margin: 20px 0;
  }
  .profile {
    width: 70px;
    height: 70px;
  }
}
